<nav class="navbar bg-body-tertiary">
    <div
      class="container-fluid justify-content-center justify-content-md-between"
    >
      <a class="navbar-brand fw-medium fs-3 mb-1 mb-md-0"
        >Webbrical Dashboard</a
      >

      <form class="d-flex" role="search" action="/search" method="post">
        <input
          class="form-control me-2"
          type="search"
        
          name="searchText"
          id="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" id="submit" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>

  <script>
    let searchArea = document.getElementById('search')
    document.getElementById('submit').onclick = (e)=>{
      if(searchArea.value.trim() == ""){
        e.preventDefault()
        searchArea.style.borderColor ="red"
      }
      searchArea.onchange = ()=>{
        searchArea.style.borderColor = "gray"
      }
    }

  </script>